body{
  margin: 0px;
  margin-top: -2%;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom,pink,white) fixed;
}
.left{
  position: relative;
  height:550px ;
  float: left;
  margin: 5px;
  overflow-y: scroll;
  padding: 10px;
  border: 2px solid black;
  width: 42%;    
  border-radius: 20px;   
  box-shadow: rgba(202, 108, 108, 0.527) 12px -5px 10px;
}
.left::-webkit-scrollbar-thumb{
  border-radius: 2px 15px 15px 2px;
  background-color: skyblue;
}
.left::-webkit-scrollbar{
  border-radius: 2px 15px 15px 2px;
}
#main-cont{
  display: flex;
  flex-direction: row;
}
#calender{
  width: 90vw;

}
#head-btn>span{
  margin: 1vw;
  border: 5px double black;
  padding: 0.5vh 1.5vw;
  border-radius: 10px 0px;
  box-shadow: rgba(202, 108, 108, 0.527) 7px 2px 15px, rgba(202, 108, 108, 0.527) -7px -2px 15px;
}
@media only screen and (max-width: 850px) {
  body{
    margin-top:-5% ;
  }
  #main-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #leftbox{
    width: 90vw;
    margin-left: 4%;
  }
  #cal-r{
    width: 90%;
    /* left: 4%; */
    height: 40vh;
    overflow: hidden;
  }
  #cal-r>div{
    width: 100vw;
    left: 10%;
  }
  .mont_name{
    font-size: 0.6em;
    margin: 0px;
    width: 10px;
    position: relative;
    left: 25vw;
  }
  .a_left{
    font-size: 1em;
    position: relative;
    margin-left: -30vw;
    left: 30vw;
  }
  .a_right{
    font-size: 1em;
    position: relative;
    right: -10vw;
  }
  #calender>div>div{
    border: none;
  }
  #head-btn{
    display: flex;
    flex-direction: column;
    margin: 0px 5%;
  }
  #head-btn>span{
    display: flex;
    justify-content: center;
  }

  .right>div{
    display: none;
    width: 90vw;
    height: 10px;
    }
  .calendar>thead>tr{
    background-color: red;
    font-size: 20px;
    margin: 0vw 1vw;
  }
  table{
    overflow-x: scroll;
    width: 90vw;
    display: block;
    left: 25vw;
/* ======= */
  }
  #cal-r{
    width: 90%;
    left: 4%;
    height: 40vh;
  }
  #cal-r>div{
    width: 100vw;
    margin-left: -27vw;
  }
  #cal-r>div>header{
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  .mont_name{
    font-size: 0.6em;
    margin: 0px;
  }
  .arrow_lr{
    font-size: 0.6em;
    margin: 0px;
  }
  #calender>div>div{
    border: none;
  }
  #head-btn{
    display: flex;
    flex-direction: column;
    margin: 0px 5%;
  }
  #head-btn>span{
    display: flex;
    justify-content: center;
  }
  .calendar{
    display: block;
  }
  .right>div{
    display: none;
    height: 10px;
    box-shadow: none;
    border: none;
    }
  .calendar>thead>tr{
    background-color: red;
  }
}
a{
  text-decoration: none;
  color: black;
}
html{
  height: 100%;
}

body>div>button{
  border-radius: 5px;
  margin-left: 20px;
  box-shadow: rgba(202, 108, 108, 0.527) 12px 5px 10px;
}
.right{
  position: relative;
  height: 590px;
  overflow-y: hidden;
  float: right;
  padding: 10px;
  margin: 24px;
  width: 75%;
}
.calendar{
  height: 80%;
  width: 80%;
  position: absolute;
  margin-top: 10px;
  left: 10%;
  text-align: center;
  border: 0px;    
}
td{
  border: 0px;
  font-weight: bold;
}
th{
  border: 0px;
  font-size: 22px;
}
td:hover{
  background-color: skyblue;
  color: white;
  border: 0px solid black;
}
h2{
  color: rgb(76, 0, 255);
  font-size: 30px;
}
hr{
  border-color: black;
}
h1{
  font-size: 50px;
}
footer {
  background-color: rgb(31, 30, 30);
  overflow: hidden;
  align-content: center;
}
footer a {
  text-decoration: none;
  padding: 20px;
  float: left;
  color: white;
}
#head-btn{
  display: flex;
  justify-content: center;
}
#head-btn>button{
  margin-left: 10px;
}
h4{
text-align-last: right;
}
button{
padding-left: 10px;
padding-top: 5px;
padding-right: 10px;
padding-bottom: 5px;
}
p{
font-weight: bold;
}

#March{
display: block;
}
.a_left{
display: flex;
float: left;
padding-left: 130px;
}
.a_right{
display: flex;
float: right;
padding-right: 130px;
}
.arrow_lr{
font-weight: bolder;
cursor: pointer;
}
.right>div{
display: none;
height: 580px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -30px, rgba(0, 0, 0, 0.3) 0px 30px 60px -50px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
border: 1px solid plum;
}
.left>div:nth-child(1){
display: block;
}
.left>div{
display: none;
}
